{% extends 'admin.html.twig' %}

{% block title %}
DashBoard
{% endblock %}

{% block content %}
<div class="chartjs-size-monitor"
	style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
	<div class="chartjs-size-monitor-expand"
		style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
		<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
	</div>
	<div class="chartjs-size-monitor-shrink"
		style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
		<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
	</div>
</div>


<canvas class="my-4 chartjs-render-monitor" id="myChart" width="1098" height="462"
	style="display: block; width: 366px; height: 154px;"></canvas>

<h2>Dernières commandes</h2>
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Jeu</th>
				<th>Qte</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>GRELET</td>
				<td>Théo</td>
				<td>GTA: V</td>
				<td>1</td>
				<td>40 €</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}