/* NAVBAR */
.btns-header {
    border-radius: 20px;
    height: 25px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        height: 100%;
        width: 100%; 
        color: $white;
        font-size: 14px;
        transition: opacity ease 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
    
    .btn-simple {
        width: 80%; 
        border-radius: 20px;
    }

    .btn-logout{
      width: 30%; 
      border-radius: 20px;
      margin-left: 20px;
    }
    
}

.btn {
    &-left {
        border-radius: 20px 0 0 20px;
    }

    &-right {
        border-radius: 0 20px 20px 0;
    }

    &-custom {
        width: 40px;
        border-bottom: 1px solid $gray-400;
        color: $gray-500;
        transition: color ease 0.3s;

        &:hover {
            color: $gray-800;
        }
    }

    
}

.separator-r {
    border-right: 1px solid white;
}

.form-custom {
    width: 212px;
    border: none;
    border-bottom: solid 1px $gray-400;
    color: $gray-800;
}

.form-custom::placeholder {
  font-style: italic;
}


#rating-starsNO {
    .rating-group {
      display: inline-flex;
    }
    
    .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
  
    .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 2rem;
    }
    
    .rating__icon--star {
      color: $orange;
    }
  
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
  
    .rating-group:hover .rating__label .rating__icon--star {
      color: $orange;
    }
  
    .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
    
    .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
       color: #eee;
    }
  }
