.nav {

    .tab-name {
        margin-right: 3%;
        text-align: center;
    }
}

.col-sm-9 {
    ul{
        text-align: center;
        justify-content: center;
    }
    .nav-tabs{
        li{
            text-align: center;
            width: 20%;
        }
    }
}

.margin-zero{
    margin: 0%;
}

@media screen and (max-width: 575px) {
    .col-sm-9 {
        .nav-tabs{
            margin-top: 10%;
        }
    }
    
  }