{% extends 'base.html.twig' %}

{% block title %}
Acheter {{ slug }}
{% endblock %}

{% block stylesheet %}
<style>
	.card-header {
		background-color: transparent;
		border: none;
		padding-bottom: 0;
	}

	.nameTag {
		font-weight: bold;
	}

	.picto {
		width: 16px;
		text-align: center;
	}

	.picto i {
		color: #E14826;
		font-size: 12px;
	}

	.text-custom {
		color: #F6D288;
	}

	.bg-custom {
		background-color: #F6D288;
	}
</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header text-bold">
				À PROPOS
			</div>
			<div class="card-body text-left">
				<div class="title">
					<span class="picto">
						<i class="fas fa-tags"></i>
					</span>
					<span class="nameTag">
						Genres :
					</span>
				</div>
				<div class="title">
					<span class="picto">
						<i class="fas fa-clock picto"></i>
					</span>
					<span class="nameTag">
						Date de sortie :
					</span>
				</div>
				<div class="title">
					<span class="picto">
						<i class="fas fa-tv picto"></i>
					</span>
					<span class="nameTag">
						Plateforme :
					</span>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
{% endblock %}