{% extends 'base.html.twig' %}

{% block title %}
Mon compte
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<div>
    <pre>
        {{ dump(user) }}
    </pre>
</div>
{% endblock %}